@font-face {
    font-family: "Incompleeta Reveal";
    src: url("/fonts/icompleeta-reveal.woff2") format("woff2");
    font-style: normal;
    font-weight: 300;
    font-display: swap;
}
// @font-face {
//     font-family: "Incompleeta";
//     src: url("/fonts/icompleeta.woff2") format("woff2");
//     font-style: normal;
//     font-weight: 300;
//     font-display: swap;
// }
